.about_background {
    position: fixed;
    background: url("../images/About.gif");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -10;
    overflow: hidden;
}

.about_item {
    font-family: "Eternal UI", serif;
    font-size: 3rem;
    padding-top: 10px;
}

.about_container {

}

.page_name {
    position: absolute;
    right: 10vw;
    padding-top: 0px;
    top: 0vh;
}

.about_page .header_item {
    color: white;
}

.about_page .header_container {
    border-bottom: 1px solid #ffffff;
}

.about_page .header_item:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.58);
    transition: transform 0.125s ease-in-out;
}
